[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/ccip-starter-kit-foundry"]
	path = lib/ccip-starter-kit-foundry
	url = https://github.com/smartcontractkit/ccip-starter-kit-foundry
[submodule "lib/wrapped-assets"]
	path = lib/wrapped-assets
	url = https://github.com/ava-labs/wrapped-assets
